// Define variables for your color scheme

$navbar-bg: #81B4BA; // header, footer, prompt container
$sign-up: #257C84;  // sign up, heart liked, teaser
$card: #ABCBCC; // cards, lock
$icons: #F8FBFC; //icons, title, create btn text, search bg,
$heart-liked: #e56c74; //heart-liked
$card-details: #838383; // hearts-count, dates, length
$card-description: #505050; //description, big text in the card, filters
$create-btn: #374351; // create btn container
$prompt-text: #000000; //
$header-bg: #ffffff; //header bg color, heart not liked
$page-bg: #FFFFFF; /// bg full page color
