// Define variables for your color scheme

$navbar-bg: #3F497F; // header, footer, prompt container
$sign-up: #539165;  // sign up, heart liked, teaser, prompt
$card: #ABCBCC; // cards, lock
$icons: #F8FBFC; //icons, create btn text, search bg, card-bg
$heart-liked: #e56c74; //heart-liked
$card-details: #838383; // hearts-count, dates, length
$card-description: #505050; // filters
$create-btn: #F7C04A; // create btn container
$prompt-text: #3F497F; // card-title, card-description
$header-bg: #ffffff; //header bg color, heart not liked
$page-bg: #F8F5E4; /// bg full page color
$card-bg: #FFFFFF; /// bg card
