<div class="content-container">
  <div class="category-card">
    <div class="title-sub">Favorites</div>
  </div>
  <div class="storycard-container">
    <% @stories.each do |story| %>
      <%= render "shared/story_card", story: story %>
    <% end %>
  </div>
</div>
