<footer>
  <div class="footer-pos bg-color container-fluid">
    <h2 class="logo-soozie">soozie</h2>
    <div>
      <a class= "logos" href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram fa-xl" style="color:#F8FBFC"></i>
      </a>
      <a class="logos" href="https://www.facebbok.com/" target="_blank">
        <i class="fa-brands fa-facebook fa-xl" style="color:#F8FBFC"></i>
      </a>
      <a class= "logos" href="https://www.twitter.com/" target="_blank">
        <i class="fa-brands fa-twitter fa-xl" style="color:#F8FBFC"></i>
      </a>
    </div>
  </div>
</footer>
