<div class="storycard" id="loading-card">
  <div class="books-card-loading"><p></p></div>
  <div class="card-container">
    <div class="main-container">
      <div class="card-title">Writing your story...</div>
      <div class="card-description">
        <p><span data-controller="typed"
        data-typed-sentences-value="<%= ['Weaving dreams...', 'Magic is happening...', 'Prepare for takeoff...', 'Almost there...', 'Good stuff is in the works..'].to_json %>"
        data-typed-type-speed-value="20"
        data-typed-back-speed-value="0"
        data-typed-shuffle-value="true"
        data-typed-loop-value="true"></span></p>
      </div>
    </div>
  </div>
</div>
