<div class="prompt container">
  <div class="enter-create">
    <div class="text-container"><p>hello</p></div>
    <div class="create-btn"><p>Create</p></div>
  </div>
    <div class="d-flex justify-content-center">
  </div>
</div>
