<div class="prompt-container">
  <div>
    <p>enter a prompt...</p>
    <p>...</p>
    <p>..</p>
    <p>.</p>
  </div>
  <div class="prompt-create-btn">
    <div class="user-input">
    </div>
    <div class="create-btn">
    <p>Create</p>
    </div>
  </div>
  <div class="filters">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
