<div class="storycard">
  <img src="https://images.unsplash.com/photo-1536323760109-ca8c07450053" alt="Storypic" style="width:100%">
  <div class="card-container">
    <div class="main-container">
      <div class="card-title"> <%= story.title %></div>
      <div class="card-description"><%= story.summary %></div>
    </div>
    <div class="details-container">
      <div class="words-count"><%= story.prompt.length.to_i / 130 %> mins</div>
      <div class="hearts-count"><%= story.favorites.count %>&nbsp;<i class="fa-solid fa-heart"></i></i></div>
    </div>
  </div>
</div>
