<div class="container p-0">
  <div class="category-card">
    <div class="category-title">History</div>
  </div>
  <div class="storycard-container">
    <% @stories.each do |story| %>
      <%= render "story_card", story: story %>
    <% end %>
  </div>
</div>
