<h1>Yeah</h1>
<div class="container p-0">
  <div class="category-card">Educationaal stories</div>
  <div class="storycard-container">
    <% @stories.each do |story| %>
      <%= render "story_card", story: story %>
    <% end %>
  </div>
</div>
