<div class="Teaser">Welcome to Soozie!</h1>
<div class="container p-0">
  <%= render "category_card", prompt: Prompt.first %>
  <div class="storycard-container">
    <% @stories.each do |story| %>
      <%= render "story_card", story: story %>
    <% end %>
  </div>
</div>
