<div class="story-container container">
  <div>
      <span data-controller="typed"
            data-typed-sentences-value="<%= [@story.body].to_json %>">
      </span></div>
  </div>
<%= render "shared/prompt" %>
</div>
