
.book-back{
  height: 100%;
  background-color:$create-btn;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pages{
  background-color: aliceblue;
  border-radius: 0 15px 15px 0;
  height: 98%;
  width: 93%;
  margin-left: 7px;
}
