
.filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}
.filter-btn{
  font-weight: 500;
  width: 150px;
  background-color:white;
  text-decoration: none;
  border-radius: 10px;
  font-family: $body-font;
  text-align: center;
  font-size: 20px;
  border:none;
}
.filters-btn > :first-child{
  padding-left: 100px;
}

.signup-btn {
  font-size: 24px;
  padding: 20px 40px;
  background-color: $heart-liked;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.signup-btn:hover {
  background-color: #b6565c;
  text-decoration: none;
  color: white;
}
