.create-btn{
  background-color: #374351;
  color: #F8FBFC;
  width: 130px;
  height: 130px;
  border-radius: 15px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.create-btn p{
  justify-content:center center;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filter-btn{
  font-family: Helvetica, sans-serif;
  width: 136px;
  background-color:white;
  text-decoration: none;
  border-radius: 15px;
  font-family: serif;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border:none;
}
.filters-btn > :first-child{
  padding-left: 100px;
}

.signup-btn {
  font-size: 24px;
  padding: 20px 40px;
  background-color: $heart-liked;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.signup-btn:hover {
  background-color: #b6565c;
  text-decoration: none;
  color: white;
}
