.category-card {
  // background-color: $card;
  height: 35px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // transition: 0.3s;
  // border-radius: 30px; /* 5px rounded corners */
  margin: 0;
}

.category-title {
  font-family: $headers-font;
  font-size: 25px;
  font-weight: 500;
  align-items: left;
  vertical-align: middle;
  padding: 0;
  margin: 40px 0 0 0;
}


.title-sub {
  font-family: $headers-font;
  font-size: 25px;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px 10px 0;
}
