// Define variables for your color scheme

$navbar-bg: #81B4BA; // header, footer, prompt container
$sign-up: #257C84;  // sign up
$card: #ABCBCC; // cards, hearts, lock
$icons: #F8FBFC; //icons, title, create btn text, search bg,
$card-details: #D9D9D9; // saved, dates, length
$card-description: #505050; //description, big text in the card, filters
$create-btn: #374351; // create btn container
$prompt-text: #000000; //
$header-bg: #ffffff; //header bg color
$page-bg: #f5f5f5; /// bg full page color 
