// Define variables for your color scheme

$background: #F5F5F5;
$header-background: #81B4BA; //footer, prompt-container
$sign-up: #257C84;
$card: #ABCBCC; //heart
$icons: #F8FBFC; //card-title, create-btn-text
$card-details: #D9D9D9; //prompt-input, prompt-filters
$card-description: #505050;
$create-btn: #374351;
$story-text: 000000;
