.logos{
  text-decoration: none;
  color: #F8FBFC;
  align-items: center;
}
.bg-color{
  background-color: #81B4BA;
  height: 4rem;
  margin-top: 1rem;
}
.footer-pos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem 0 5rem;
}
