// app/assets/stylesheets/home.scss

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.headline {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.subhead {
  font-size: 24px;
  text-align: center;
}

.hero-image {
  width: 100%;
  margin-top: 40px;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
}

.testimonials {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  width: calc(50% - 20px);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.testimonial-text {
  font-size: 18px;
}

.testimonial-author {
  font-size: 18px;
  font-weight: bold;
}

.cta-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cta-button {
  font-size: 24px;
}

.gradient-background {
  background: linear-gradient(100deg,#94cfa1,#79dfff,#52c4af);
  // background: linear-gradient(100deg,$page-bg,$navbar-bg,$card);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
