.navbar-lewagon {
  justify-content: space-between;
  background-color:#81B4BA;
  padding-right:25px;
  // transition: background-color 0.5s;
}
// .navbar-lewagon:hover {
//   background-color:#d9d0d8;
//   animation-duration: 0.55s;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-left: 25px;
  border-radius: 50%;
}

.search-bar{
  border: none;
  background-color: #ffffff;
  text-align: center;
  border-radius: 12px;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  box-shadow:  0 1px 5px 0;
  cursor: pointer;
}
.search-button{
  border: none;
  background-color: transparent;
}

.nav-link{
  border: 1px solid #F8FBFC;
  border-radius:2rem;
  background-color: #F8FBFC;
  text-align: center;
  padding-top: 3px;
  width: 100px;
  height: 30px;
}

.navbar-icon {
  color:$icons;
  text-decoration: none;
}
