.prompt{
  // background-color:$sign-up;
  height: 250px;
  width: 100%;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
  margin-top: 0%;
 }
.contenedor{
  padding: 0;
}

.prompt-wrapper {
  width: 75%;

}
.enter-create{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 45px;
}
.text-container{
  height: 130px;
  width: 100%;
  padding: 25px;
  background-color:white;
  border-radius: 15px;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: $body-font;

}

.text-container p {
  margin: 20px 0 0 20px
}

.text-container::placeholder {
  font-family: $body-font;
  color: $prompt-text;
  opacity: 60%;
}
.no-outline {
  outline: none !important;
  box-shadow: none !important;
}
.custom-font {
  font-family: $body-font;
  color:$prompt-text;
  text-decoration: none;
  /* Additional styles can be added */
}

.navbar-lewagon .navbar-brand p {
  width: 50px;
  border-radius: 30%;
}
.story-font{
  font-family:$story-font;
}
