.prompt-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn{
  background-color: #374351;
  color: #F8FBFC;
  width: 130px;
  height: 130px;
  border-radius: 30px;
  padding: 50px 0 0 0;
  font-weight: 500;
  position: relative;
  display: inline-block;
  font-family: serif;
  text-align: center;
  font-size: 20px;
}

.create-btn p{
  justify-content:center center;
}
