.storycard {
  background-color: $card;
  width: 270px;
  height: 285px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 5px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.storycard > img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  height: 44%;

}

.card-container {
  padding: 20px;
  display: flex;
  height: 56%;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: $icons;
  text-align: center;
  text-decoration: none;
}

.card-description {
  font-size: 14px;
  color: $card-description;
  text-align: center;
  overflow: hidden;
}

.heart-container{
  display: flex;
}

.hearts-count {
  font-size: 14px;
  color: $card-details;
  text-align: right;
  font-weight: 400;
}

.card-heart-unliked {
  font-size: 20px;
  color: $card-details;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  fill: none;
}

.card-heart-liked {
  font-size: 20px;
  color: $heart-liked;
}

.words-count {
  font-size: 14px;
  color: $card-details;
  text-align: left;
  font-weight: 400;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.card-public {
  font-size: 20px;
  color: $card-details;
  margin-left: 8px;
  background: none;
  border: none;
  padding: 0;
}
