.storycard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: space-evenly;
  margin: 25px 0 15px 0;
}

@media(max-width: 992px) {
  .storycard-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .storycard-container {
    grid-template-columns: 1fr;
  }
}
